* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Edit Uno BRK';
    src: url(../fonts/editundo.ttf);
}

@font-face {
    font-family: 'Baskic8';
    src: url(../fonts/Baskic8.otf);
}

html {  
    font-size: 1.5rem;
    font-family: 'Edit Uno BRK', 'monospace';
    scroll-behavior: smooth;
}
body {
    background: rgb(196, 205, 239);
}

main {
    margin: 1em;
}

footer {
    background: hsl(233, 62%, 80%);
    padding: 0.5em;
    text-align: center;
}

h5, h6 {
    display: inline-block;
    font-size: min(4.5vw, 0.75rem);
    margin-inline: 0.5rem;
}

a {
    text-decoration: none;
    color: darkorchid;
}

a:hover, a:focus {
    color: darkslateblue;
}

p, h6 {
    font-family: 'Baskic8';
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    background-color:cornflowerblue;
}

nav ul li {
    display: inline-block;
    margin-inline: 0.5rem;
    font-size: min(4.5vw, 1rem);
}

nav ul li a {
    color: lightblue;
}

#banner {
    display: block;
    margin: auto;
    width: 100%;
}