* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Edit Uno BRK';
    src: url(../fonts/editundo.ttf);
}

@font-face {
    font-family: 'Baskic8';
    src: url(../fonts/Baskic8.otf);
}

html {  
    font-size: 1.5rem;
    font-family: 'Edit Uno BRK', 'monospace';
    scroll-behavior: smooth;
}
body {
    /* background: rgb(196, 205, 239); */
    background-image: url(../img/pixel-art-bkg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(233, 62%, 80%);
    padding: 0.5rem;
}

article {
    background-color: rgb(196, 205, 239);
    padding: 1.5rem;  
}

#about-page article img {
    float: left;
    max-width: 10rem;
    margin: 0 0.75rem 0.75rem 0;
    transition: transform 1s ease;
}

#about-page article img:hover {
    transform: scale(1.1);
}

#about-page article p {
    max-width: 50ch;
}

#home-page article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-page article img {
    border-radius: 50%;
    width: 12.5rem;
    transition: transform 0.5s ease;
}

#home-page article img:hover {
    transform: rotate(180deg);
}

#home-page article h1 {
    text-align: center;
}

#home-page article p {
    max-width: 35ch;
    text-align: center;
}

h4 {
    font-size: clamp(0.5rem, 10vw, 1rem);
    margin-inline: 0.5rem;
}
a {
    text-decoration: none;
    color: darkorchid;
    transition: transform 0.2s ease;
    display: inline-block;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(0.5rem, 40vw, 1.75rem);
    margin-inline: calc(0.5rem - 3px);
    transition: transform 0.2s ease;
}

.footer-icons:hover {
    transform: scale(1.1);
}

a:hover, a:focus {
    color: darkslateblue;
}

a:hover {
    transform: scale(1.1);
}

p, h2 {
    font-family: 'Baskic8';
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0.5rem;
    background-color:cornflowerblue;
}

nav ul li {
    margin-inline: clamp(0.5rem, 5vw, 1rem);
    font-size: clamp(0.5rem, 4.5vw, 1rem);
}

nav ul li a {
    color: lightblue;
}

#banner {
    display: block;
    margin: auto;
    width: 100%;
}

footer img {
    border: 3px hsl(233, 62%, 80%) solid;
}
footer img:hover, footer img:focus {
    background-color: darkslateblue;
    border: 3px white solid;
    border-radius: 5px;
}

#projects-page {
    flex-direction: column;
    align-items: center;
}

#projects-page h1 {
    background-color: rgb(196, 205, 239);
    padding: 0.5rem 4.15rem;
}

#projects-page article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

#projects-page article iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    transition: transform 0.3s ease;
}

#projects-page article iframe:hover {
    transform: scale(1.05);
}

#projects-page article h2 {
    max-width: 30ch;
    text-align: center;
    margin: 1rem 0 0.25rem 0;
}

#projects-page article p {
    max-width: 45ch;
}

/*
#projects-page h1 {
    text-align: center;
    margin: 1rem auto;
}

#videos {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

iframe {
    margin-inline: 1rem;
    width: 560px;
    height: 315px;
}

#videos article figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#videos article figcaption h2 {
    margin: auto;
    margin-top: 0.5rem;
    max-width: 30ch;
    text-align: center;
    font-size: clamp(0.5rem, 10vw, 1rem);
}

#videos article figcaption p {
    font-size: clamp(0.5rem, 4.5vw, 1rem);
    max-width: 40ch;
}
*/